{% extends "core/base.html" %}  
{% load static %}
 {% block head %}
  <style type="text/css">
.editar{
  background-color:#f4d03f;
color:white;
}
.ver{
background-color:#3498db;
color:white;
}
 </style>
 {% endblock %}
{%  block titulo_pagina %}Lista de Contratos{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <h5><i class="fas fa-check-circle"></i><strong>INFORMACION:</strong></h5>{{ message }}</a>.
</div>
        
    
    {% endfor %}
</ul>
{% endif %}



<section class="panel panel-default ">

           <header class="panel-heading" style= "color: black">
                  <h5>Conceptos</h5>
                </header>
                  <div class="table-responsive">
                  <table class="table table-striped b-t b-light" id="tabla_datos">
                    <thead>
                      <tr>                   
                        <th width="10%" class="th-sortable" data-toggle="class">Nº</th>
                        <th>Concepto</th>                         
                        <th>Editar</th>                         
                        
                    </thead>
                    <tbody>
                      {% for object in conceptoalquiler_list %}
                     

                      <tr>
                        <td >{{object.id}}</td>                        
                        <td >{{object.concepto}}</td>                       
                        
                        <td><a href="{% url 'contrato:actualizar_concepto' object.id %}"> <button class="btn btn-sm editar btn-rounded" data-toggle="tooltip" data-placement="left" title="" data-original-title="Editar Concepto"><i class="fas fa-pencil-alt" ></i></button> </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                
              </section>








{% endblock %}