{% extends "core/base.html" %}  
{% load static %}
 {% block head %}
 <style type="text/css">
body{
  background-color: #3498db;
}
.editar{
  background-color:#f4d03f;
color:white;
}
.ver{
background-color:#3498db;
color:white;
}
.alert .alert-warning{
  background-color:#f4d03f;
color:black;
}
 </style>
 {% endblock %}
{%  block titulo_pagina %}Lista de Presupuestos{% endblock %}

{% block content %}
<!--{% if itv_ok %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h5><i class="fas fa-check-circle"></i><strong>INFORMACION:</strong></h5>{{itv_ok}}</a>.
</div>
{% endif %}-->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <h5><i class="fas fa-check-circle"></i><strong>INFORMACION:</strong></h5>{{ message }}</a>.
</div>
        
    
    {% endfor %}
</ul>
{% endif %}

<section class="panel panel-azul ">

           <header class="panel-heading bg-azul2" style= "color: black">
                  <h5>Presupuestos</h5>
                </header>
                  <div class="table-responsive">
                  <table class="table table-striped b-t b-light" id="tabla_datos">
                    <thead>
                      <tr>                   
                        <th width="10%" class="th-sortable" data-toggle="class">Nº Presupuesto</th>
                        <th>Ciudad</th>                         
                        <th>Fecha</th>                         
                        <th>Cliente</th>
                        <th>Vehiculo</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for object in presupuesto_list %}
                     

                      <tr>
                        <td >{{object.id}}</td>                        
                        <td >{{object.oficina}}</td>
                        <td >{{object.f_contrato}}</td>
                        <td >{{object.cliente}}</td>
                        <td >{{object.vehiculo}}</td>
                        <td > {{object.total}}</td>
                        
                        <td><a href="#"><button class="btn btn-sm ver btn-rounded"   data-toggle="tooltip" data-placement="left" title="" data-original-title="imprimir presupuesto"><i class="fas fa-print"> </i></button></a><a href="#"> <button class="btn btn-sm editar btn-rounded" data-toggle="tooltip" data-placement="left" title="" data-original-title="Editar presupuesto"><i class="fas fa-pencil-alt" ></i></button> </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                
              </section>








{% endblock %}